<!DOCTYPE html>
<html lang="en">
    <head>
            <% include ../static/partials/head.ejs %>
    </head>

    <body>
        <!-- NAVIGATION -->
        <% include ../static/partials/navbar.ejs %> 

        <!-- PAGE CONTENT-->
        <main class="container">
            <div class="col-12 col-md-8">
                <h1>Wiki Index</h1>

                <% wikis.forEach((wiki) => { %>

                            <a href="/wikis/<%= wiki.id %>"><h2><%= wiki.title %></h2></a>
                  <% }) %>

                  <% if(currentUser && currentUser.role == 1) { %>
                        <% privateWikis.forEach((wiki) => { %>

                            <a href="/wikis/<%= wiki.id %>"><h2><%= wiki.title %></h2></a>

                      <%  }) %>
                 <% } %>

            </div>
            <div class="col-6 col-md-4">
                <% if(currentUser) { %>
                        <a href="/wikis/new" class="btn btn-success">Create Wiki</a>
               <% } %>
            </div>
        </main>
        <!--END CONTAINER-->
            <% include ../static/partials/baseScripts.ejs %>
    </body>

</html>