<!DOCTYPE html>
<html lang="en">

        <head>
                <% include ../static/partials/head.ejs %>
            </head>
            
            <body>
                    <% include ../static/partials/messages.ejs %>
                <!-- NAVIGATION -->
                <% include ../static/partials/navbar.ejs %> 
            
                <!--PAGE CONTENT-->
                <main class="container">
                        <div class="container-fluid">
                            <div class="row no-gutter">
                            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
                            <div class="col-md-8 col-lg-6">
                            <div class="login d-flex align-items-center py-5">
                            <div class="container">
                            <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h3 class="login-heading mb-4">Sign In</h3>

                                <form action="/users/sign_in" method="post">

                                    <div class="form-label-group">
                                        <label for="email">Email address</label>
                                        <input type="email" id="inputEmail" name="email" class="form-control"  aria-describedby="emailHelp" placeholder="Email address" required autofocus>
                                        <small class="text-muted" id="emailHelp">must be a valid address</small>
                                        </div>
                              
                                    <div class="form-label-group">
                                        <label for="inputPassword">Password</label>
                                        <input type="password" id="inputPassword" name="password" class="form-control" aria-describedby="passwordHelp" placeholder="Password" required>
                                        <small class="text-muted" id="passwordHelp">must match confirmation below</small>
                                        </div>
                              
                                        <button type="submit" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Sign in</button>
                                    </form>
                            </div> 
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>

                </main>

                <% include ../static/partials/baseScripts.ejs %>
            </body>

</html>